{% extends 'djangobin/base.html' %}

{% load static %}
{% load humanize %}

{% block main %}

    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6">

            <h4>Password Reset Success</h4>

            <hr>

            <div class="db-form">

                <p>Your password has been reset. Click <a href="{% url  'djangobin:login' %}">here</a> to login.</p>

            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <h4>Related Links</h4>
            <p>
                <a href="{% url 'djangobin:password_reset' %}">Forgot Password?</a> <br>
                <a href="{% url  'djangobin:signup' %}">Sign Up.</a>
                <a href="{% url 'djangobin:contact' %}">Feedback</a>
            </p>
        </div>

    </div>

{% endblock %}